@charset "UTF-8";
/* ===== Start ICONS CSS ===== */
@font-face {
  font-family: "hitboox-icon";
  src: url("./assets/fonts/icons/hitboox-icon-1.1.0.eot");
  src: url("./assets/fonts/icons/hitboox-icon-1.1.0.eot?#iefix") format("eot"), url("./assets/fonts/icons/hitboox-icon-1.1.0.woff2") format("woff2"), url("./assets/fonts/icons/hitboox-icon-1.1.0.woff") format("woff"), url("./assets/fonts/icons/hitboox-icon-1.1.0.ttf") format("truetype"), url("./assets/fonts/icons/hitboox-icon-1.1.0.svg#hitboox-icon-1.1.0") format("svg");
}
[class*=hitboox-icon-] {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}

.hitboox-icon-chat:before {
  content: "";
}

.hitboox-icon-chevron-down:before {
  content: "";
}

.hitboox-icon-chevron-left:before {
  content: "";
}

.hitboox-icon-chevron-right:before {
  content: "";
}

.hitboox-icon-chevron-up:before {
  content: "";
}

.hitboox-icon-coding:before {
  content: "";
}

.hitboox-icon-console:before {
  content: "";
}

.hitboox-icon-excellence:before {
  content: "";
}

.hitboox-icon-eye:before {
  content: "";
}

.hitboox-icon-handshake:before {
  content: "";
}

.hitboox-icon-help:before {
  content: "";
}

.hitboox-icon-hologram:before {
  content: "";
}

.hitboox-icon-low-price:before {
  content: "";
}

.hitboox-icon-pencil:before {
  content: "";
}

.hitboox-icon-play:before {
  content: "";
}

.hitboox-icon-puzzle:before {
  content: "";
}

.hitboox-icon-quote:before {
  content: "";
}

.hitboox-icon-search-plus:before {
  content: "";
}

.hitboox-icon-strategy:before {
  content: "";
}

.hitboox-icon-swords:before {
  content: "";
}

.hitboox-icon-360:before {
  content: "";
}

.hitboox-icon-arrow-down:before {
  content: "";
}

.hitboox-icon-arrow-left:before {
  content: "";
}

.hitboox-icon-arrow-right:before {
  content: "";
}

.hitboox-icon-arrow-up:before {
  content: "";
}

.hitboox-icon-arrows-rotate:before {
  content: "";
}

.hitboox-icon-bars:before {
  content: "";
}

.hitboox-icon-cart-empty:before {
  content: "";
}

.hitboox-icon-check-square:before {
  content: "";
}

.hitboox-icon-checked:before {
  content: "";
}

.hitboox-icon-circle:before {
  content: "";
}

.hitboox-icon-cloud-download-alt:before {
  content: "";
}

.hitboox-icon-comment:before {
  content: "";
}

.hitboox-icon-comments:before {
  content: "";
}

.hitboox-icon-contact:before {
  content: "";
}

.hitboox-icon-credit-card:before {
  content: "";
}

.hitboox-icon-dot-circle:before {
  content: "";
}

.hitboox-icon-edit:before {
  content: "";
}

.hitboox-icon-envelope:before {
  content: "";
}

.hitboox-icon-expand-alt:before {
  content: "";
}

.hitboox-icon-expand:before {
  content: "";
}

.hitboox-icon-external-link-alt:before {
  content: "";
}

.hitboox-icon-file-alt:before {
  content: "";
}

.hitboox-icon-file-archive:before {
  content: "";
}

.hitboox-icon-folder-open:before {
  content: "";
}

.hitboox-icon-folder:before {
  content: "";
}

.hitboox-icon-frown:before {
  content: "";
}

.hitboox-icon-gift:before {
  content: "";
}

.hitboox-icon-grid:before {
  content: "";
}

.hitboox-icon-grip-horizontal:before {
  content: "";
}

.hitboox-icon-heart-fill:before {
  content: "";
}

.hitboox-icon-heart:before {
  content: "";
}

.hitboox-icon-history:before {
  content: "";
}

.hitboox-icon-home:before {
  content: "";
}

.hitboox-icon-info-circle:before {
  content: "";
}

.hitboox-icon-instagram:before {
  content: "";
}

.hitboox-icon-level-up-alt:before {
  content: "";
}

.hitboox-icon-list:before {
  content: "";
}

.hitboox-icon-map-marker-check:before {
  content: "";
}

.hitboox-icon-meh:before {
  content: "";
}

.hitboox-icon-minus-circle:before {
  content: "";
}

.hitboox-icon-minus:before {
  content: "";
}

.hitboox-icon-mobile-android-alt:before {
  content: "";
}

.hitboox-icon-money-bill:before {
  content: "";
}

.hitboox-icon-office:before {
  content: "";
}

.hitboox-icon-pencil-alt:before {
  content: "";
}

.hitboox-icon-phone:before {
  content: "";
}

.hitboox-icon-plus:before {
  content: "";
}

.hitboox-icon-random:before {
  content: "";
}

.hitboox-icon-reply-all:before {
  content: "";
}

.hitboox-icon-reply:before {
  content: "";
}

.hitboox-icon-search:before {
  content: "";
}

.hitboox-icon-shield-check:before {
  content: "";
}

.hitboox-icon-shopping-basket:before {
  content: "";
}

.hitboox-icon-sign-out-alt:before {
  content: "";
}

.hitboox-icon-smile:before {
  content: "";
}

.hitboox-icon-spinner:before {
  content: "";
}

.hitboox-icon-square:before {
  content: "";
}

.hitboox-icon-star:before {
  content: "";
}

.hitboox-icon-sync:before {
  content: "";
}

.hitboox-icon-tachometer-alt:before {
  content: "";
}

.hitboox-icon-thumbtack:before {
  content: "";
}

.hitboox-icon-times-circle:before {
  content: "";
}

.hitboox-icon-times-square:before {
  content: "";
}

.hitboox-icon-times:before {
  content: "";
}

.hitboox-icon-trophy-alt:before {
  content: "";
}

.hitboox-icon-adobe:before {
  content: "";
}

.hitboox-icon-amazon:before {
  content: "";
}

.hitboox-icon-android:before {
  content: "";
}

.hitboox-icon-angular:before {
  content: "";
}

.hitboox-icon-apper:before {
  content: "";
}

.hitboox-icon-apple:before {
  content: "";
}

.hitboox-icon-atlassian:before {
  content: "";
}

.hitboox-icon-behance:before {
  content: "";
}

.hitboox-icon-bitbucket:before {
  content: "";
}

.hitboox-icon-bitcoin:before {
  content: "";
}

.hitboox-icon-bity:before {
  content: "";
}

.hitboox-icon-bluetooth:before {
  content: "";
}

.hitboox-icon-btc:before {
  content: "";
}

.hitboox-icon-centos:before {
  content: "";
}

.hitboox-icon-chrome:before {
  content: "";
}

.hitboox-icon-codepen:before {
  content: "";
}

.hitboox-icon-cpanel:before {
  content: "";
}

.hitboox-icon-discord:before {
  content: "";
}

.hitboox-icon-dochub:before {
  content: "";
}

.hitboox-icon-docker:before {
  content: "";
}

.hitboox-icon-dribbble:before {
  content: "";
}

.hitboox-icon-dropbox:before {
  content: "";
}

.hitboox-icon-drupal:before {
  content: "";
}

.hitboox-icon-ebay:before {
  content: "";
}

.hitboox-icon-facebook-c:before {
  content: "";
}

.hitboox-icon-facebook-f:before {
  content: "";
}

.hitboox-icon-facebook:before {
  content: "";
}

.hitboox-icon-figma:before {
  content: "";
}

.hitboox-icon-firefox:before {
  content: "";
}

.hitboox-icon-google-plus:before {
  content: "";
}

.hitboox-icon-google:before {
  content: "";
}

.hitboox-icon-grunt:before {
  content: "";
}

.hitboox-icon-gulp:before {
  content: "";
}

.hitboox-icon-html5:before {
  content: "";
}

.hitboox-icon-ios:before {
  content: "";
}

.hitboox-icon-joomla:before {
  content: "";
}

.hitboox-icon-link-brand:before {
  content: "";
}

.hitboox-icon-linkedin:before {
  content: "";
}

.hitboox-icon-mailchimp:before {
  content: "";
}

.hitboox-icon-nintendo-switch:before {
  content: "";
}

.hitboox-icon-opencart:before {
  content: "";
}

.hitboox-icon-paypal:before {
  content: "";
}

.hitboox-icon-pinterest-p:before {
  content: "";
}

.hitboox-icon-playstation:before {
  content: "";
}

.hitboox-icon-reddit:before {
  content: "";
}

.hitboox-icon-skype:before {
  content: "";
}

.hitboox-icon-slack:before {
  content: "";
}

.hitboox-icon-snapchat:before {
  content: "";
}

.hitboox-icon-spotify:before {
  content: "";
}

.hitboox-icon-steam:before {
  content: "";
}

.hitboox-icon-trello:before {
  content: "";
}

.hitboox-icon-twitter-x:before {
  content: "";
}

.hitboox-icon-twitter:before {
  content: "";
}

.hitboox-icon-vimeo:before {
  content: "";
}

.hitboox-icon-whatsapp:before {
  content: "";
}

.hitboox-icon-wordpress:before {
  content: "";
}

.hitboox-icon-xbox:before {
  content: "";
}

.hitboox-icon-yoast:before {
  content: "";
}

.hitboox-icon-youtube:before {
  content: "";
}

/* ===== End ICONS CSS ===== */
.editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-quote,
.hentry .entry-content blockquote,
.hentry .entry-content .wp-block-quote {
  position: relative;
}
.editor-styles-wrapper blockquote:before,
.editor-styles-wrapper .wp-block-quote:before,
.hentry .entry-content blockquote:before,
.hentry .entry-content .wp-block-quote:before {
  position: absolute;
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  left: 0;
  top: 50px;
  font-size: 64px;
  color: var(--primary);
}
@media (max-width: 568px) {
  .editor-styles-wrapper blockquote:before,
.editor-styles-wrapper .wp-block-quote:before,
.hentry .entry-content blockquote:before,
.hentry .entry-content .wp-block-quote:before {
    display: none;
  }
}

.hitboox-social ul {
  margin: 0;
  list-style-type: none;
}
.hitboox-social ul li {
  display: inline-block;
  margin-right: 10px;
  line-height: 1;
}
.hitboox-social ul li:last-child {
  margin-right: 0;
}
.hitboox-social ul li a:before {
  position: relative;
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.hitboox-social ul li a[href*=twitter]:before {
  content: "";
  color: #1DA1F2;
}
.hitboox-social ul li a[href*=instagram]:before {
  content: "";
  color: #262626;
}
.hitboox-social ul li a[href*=docker]:before {
  content: "";
}
.hitboox-social ul li a[href*=dochub]:before {
  content: "";
}
.hitboox-social ul li a[href*=yelp]:before {
  content: "";
  color: #af0606;
}
.hitboox-social ul li a[href*=flickr]:before {
  content: "";
  color: #0063dc;
}
.hitboox-social ul li a[href*=github]:before {
  content: "";
  color: #333333;
}
.hitboox-social ul li a[href*=dribbble]:before {
  content: "";
  color: #ea4c89;
}
.hitboox-social ul li a[href*=wordpress]:before {
  content: "";
  color: #21759b;
}
.hitboox-social ul li a[href*=tumblr]:before {
  content: "";
  color: #35465c;
}
.hitboox-social ul li a[href*=angular]:before {
  content: "";
}
.hitboox-social ul li a[href*=atlassian]:before {
  content: "";
}
.hitboox-social ul li a[href*=snapchat]:before {
  content: "";
  color: #fffc00;
}
.hitboox-social ul li a[href*=apper]:before {
  content: "";
}
.hitboox-social ul li a[href*=codepen]:before {
  content: "";
}
.hitboox-social ul li a[href*=gulp]:before {
  content: "";
}
.hitboox-social ul li a[href*=cpanel]:before {
  content: "";
}
.hitboox-social ul li a[href*=skype]:before {
  content: "";
  color: #00AFF0;
}
.hitboox-social ul li a[href*=reddit]:before {
  content: "";
  color: #ff4500;
}
.hitboox-social ul li a[href*=whatsapp]:before {
  content: "";
}
.hitboox-social ul li a[href*=slack]:before {
  content: "";
}
.hitboox-social ul li a[href*=amazon]:before {
  content: "";
}
.hitboox-social ul li a[href*=android]:before {
  content: "";
}
.hitboox-social ul li a[href*=grunt]:before {
  content: "";
}
.hitboox-social ul li a[href*=firefox]:before {
  content: "";
}
.hitboox-social ul li a[href*=adobe]:before {
  content: "";
}
.hitboox-social ul li a[href*=behance]:before {
  content: "";
}
.hitboox-social ul li a[href*=dropbox]:before {
  content: "";
}
.hitboox-social ul li a[href*=facebook]:before {
  content: "";
  color: #3b5998;
}
.hitboox-social ul li a[href*=linkedin]:before {
  content: "";
  color: #0077b5;
}
.hitboox-social ul li a[href*=paypal]:before {
  content: "";
}
.hitboox-social ul li a[href*=trello]:before {
  content: "";
}
.hitboox-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.hitboox-social ul li a[href*=youtube]:before {
  content: "";
  color: #cd201f;
}
.hitboox-social ul li a[href*=apple]:before {
  content: "";
  color: #999999;
}
.hitboox-social ul li a[href*=bitbucket]:before {
  content: "";
}
.hitboox-social ul li a[href*=bitcoin]:before {
  content: "";
}
.hitboox-social ul li a[href*=bluetooth]:before {
  content: "";
}
.hitboox-social ul li a[href*=bity]:before {
  content: "";
}
.hitboox-social ul li a[href*="google/chrome"]:before {
  content: "";
}
.hitboox-social ul li a[href*=drupal]:before {
  content: "";
}
.hitboox-social ul li a[href*=html5]:before {
  content: "";
}
.hitboox-social ul li a[href*=mailchimp]:before {
  content: "";
}
.hitboox-social ul li a[href*=jenkins]:before {
  content: "";
}
.hitboox-social ul li a[href*=spotify]:before {
  content: "";
  color: #2ebd59;
}
.hitboox-social ul li a[href*=ebay]:before {
  content: "";
}
.hitboox-social ul li a[href*=telegram]:before {
  content: "";
  color: #2CA5E0;
}
.hitboox-social ul li a[href*=yoast]:before {
  content: "";
}
.hitboox-social ul li a[href*=btc-e]:before {
  content: "";
}
.hitboox-social ul li a[href*=discord]:before {
  content: "";
}
.hitboox-social ul li a[href*=google]:before {
  content: "";
  color: #dd4b39;
}
.hitboox-social ul li a[href*=google-plus]:before {
  content: "";
}
.hitboox-social ul li a[href*=figma]:before {
  content: "";
}
.hitboox-social ul li a[href*=joomla]:before {
  content: "";
}
.hitboox-social ul li a[href*=opencart]:before {
  content: "";
}
.hitboox-social ul li a[href*=pinterest]:before {
  content: "";
  color: #bd081c;
}
.hitboox-social ul li a[href*=vimeo]:before {
  content: "";
  color: #1ab7ea;
}
.hitboox-social ul li a[href*=centos]:before {
  content: "";
}
.hitboox-social ul li a[href*=whatsapp]:before {
  content: "";
}

#comments .commentlist .bypostauthor > .comment-body cite::after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5407911001em;
}

#respond #cancel-comment-reply-link::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
}

.sticky .entry-title {
  display: inline-flex;
  align-items: center;
}
.sticky .entry-title::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.nav-next a,
.nav-previous a {
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-next a .reader-text:after, .nav-next a .reader-text:before,
.nav-previous a .reader-text:after,
.nav-previous a .reader-text:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
  margin-top: -2px;
}

.nav-previous .nav-content .reader-text:before {
  content: "";
  margin-right: 15px;
}

.nav-next .nav-content .reader-text:after {
  content: "";
  margin-left: 15px;
}

button.loading,
.button.loading {
  position: relative;
}
button.loading::after,
.button.loading::after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
  background-color: transparent;
  z-index: 1;
}

.main-navigtion ul li a::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.5407911001em;
}

.mobile-navigation ul li button::before, .mobile-navigation-categories ul li button::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 8px;
}
.mobile-navigation ul li button.toggled-on::before, .mobile-navigation-categories ul li button.toggled-on::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.widget_search form::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translate(0, -50%);
  z-index: 9;
  color: #000;
  pointer-events: none;
  font-size: 16px;
}
.widget_search.widget_block form::before {
  content: none;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper {
  position: relative;
}
.widget_search.widget_block form .wp-block-search__inside-wrapper:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 1;
  font-size: 20px;
  background-color: transparent;
  height: 54px;
  width: 54px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--accent);
}

.widget_search form::before {
  color: var(--accent);
  right: 0;
  height: 55px;
  width: 55px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.widget.widget_recent_entries .post-date:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  color: var(--accent);
}

a.remove {
  display: block;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;
}
a.remove::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #999999;
  line-height: 1.618;
  text-indent: 0;
  text-align: center;
}

.blockUI::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.pagination .next:before, .pagination .next:after,
.pagination .prev:before,
.pagination .prev:after {
  font-size: 20px;
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.pagination .next:after {
  content: "";
}
.pagination .prev:before {
  content: "";
}

@media (min-width: 768px) {
  .gecko .main-navigation ul.menu > li.menu-item-has-children > a:after, .gecko .main-navigation ul.menu > li.page_item_has_children > a:after, .gecko .main-navigation ul.menu > li.has-mega-menu > a:after,
.gecko .main-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.gecko .main-navigation ul.nav-menu > li.page_item_has_children > a:after,
.gecko .main-navigation ul.nav-menu > li.has-mega-menu > a:after {
    margin-bottom: 0;
    vertical-align: sub;
  }

  .header-side .main-navigation ul.menu > li.menu-item-has-children > a::after, .header-side .main-navigation ul.menu > li.page_item_has_children > a::after, .header-side .main-navigation ul.menu > li.has-mega-menu > a::after,
.header-side .main-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.header-side .main-navigation ul.nav-menu > li.page_item_has_children > a::after,
.header-side .main-navigation ul.nav-menu > li.has-mega-menu > a::after {
    font-family: "hitboox-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: 1em;
    margin-right: -25px;
  }

  .vertical-navigation ul.menu > li.menu-item-has-children > a::after, .vertical-navigation ul.menu > li.page_item_has_children > a::after, .vertical-navigation ul.menu > li.has-mega-menu > a::after,
.vertical-navigation ul.nav-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.nav-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.nav-menu > li.has-mega-menu > a::after,
.vertical-navigation ul.sub-menu > li.menu-item-has-children > a::after,
.vertical-navigation ul.sub-menu > li.page_item_has_children > a::after,
.vertical-navigation ul.sub-menu > li.has-mega-menu > a::after {
    font-family: "hitboox-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    margin-left: auto;
    float: right;
    font-size: 8px;
  }

  .main-navigation ul.menu ul li.menu-item-has-children > a::after, .main-navigation ul.menu ul li.page_item_has_children > a::after,
.main-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.main-navigation ul.nav-menu ul li.page_item_has_children > a::after {
    font-family: "hitboox-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    float: right;
    margin-left: 8px;
    line-height: 1.2;
    color: var(--accent);
    font-size: 12px;
    position: relative;
    top: 6px;
  }

  .addresses header.title a {
    display: block;
    width: 1em;
    height: 1em;
    text-indent: -9999px;
    position: relative;
    padding: 0.875em;
    margin-top: 0.6180469716em;
  }
  .addresses header.title a::before {
    font-family: "hitboox-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    content: "";
    line-height: 1.618;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }
}
body.loading {
  position: relative;
}
body.loading::after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 999999;
  color: #fff;
}
body.loading:before {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999998;
}

.elementor-widget-hitboox-language-switcher .hitboox-language-switcher .language-switcher-head:after {
  position: relative;
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 5px;
  line-height: 12px;
}

.popup-navigation ul.menu > li.menu-item-has-children > a:after, .popup-navigation ul.menu > li.page_item_has_children > a:after, .popup-navigation ul.menu > li.has-mega-menu > a:after,
.popup-navigation ul.nav-menu > li.menu-item-has-children > a:after,
.popup-navigation ul.nav-menu > li.page_item_has_children > a:after,
.popup-navigation ul.nav-menu > li.has-mega-menu > a:after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 0.5em;
  font-size: 14px;
}

.popup-navigation ul.menu ul li.menu-item-has-children > a::after, .popup-navigation ul.menu ul li.page_item_has_children > a::after,
.popup-navigation ul.nav-menu ul li.menu-item-has-children > a::after,
.popup-navigation ul.nav-menu ul li.page_item_has_children > a::after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  float: right;
  margin-left: 0.5em;
  line-height: 20px;
  font-size: 14px;
}

.elementor-widget-hitboox-image-gallery .grid__item a[href*=youtube]:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  right: 30px;
  top: 30px;
  transform: scale(0);
  transition: all ease 0.3s;
  font-size: 100px;
}

.elementor-widget-hitboox-image-carousel .image-carousel-item a[href*=youtube]:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  right: 30px;
  top: 30px;
  transform: scale(0);
  transition: all ease 0.3s;
  font-size: 100px;
}

.site-header-cart .cart-contents::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.elementor-link-showcase-title .title:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 14px;
}

@keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-webkit-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-o-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
@-ms-keyframes mf-spin-fast {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  to {
    -webkit-transform: rotate(1800deg);
    transform: rotate(1800deg);
  }
}
.form-style .mc4wp-form .mc4wp-form-fields:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

.hitboox-project-filter ul li label input:checked ~ span:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-action .blockUI.blockOverlay:before,
.shop-action .loader:before {
  top: 50%;
  left: 50%;
  opacity: 1 !important;
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  animation: fa-spin 0.75s linear infinite;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 1;
  position: absolute;
  display: block !important;
  margin-left: -10px;
  margin-top: -10px;
  color: #000;
}

.shop-action .blockUI.blockOverlay {
  opacity: 1 !important;
  overflow: hidden;
  background-image: none !important;
  background: #fff !important;
}

.product-caption-bottom .woosc-btn:before,
.product-caption-bottom .woosq-btn:before,
.product-caption-bottom .woosw-btn:before,
.single-product div.product .summary.entry-summary .woosc-btn:before,
.single-product div.product .summary.entry-summary .woosq-btn:before,
.single-product div.product .summary.entry-summary .woosw-btn:before,
.shop-action .woosc-btn:before,
.shop-action .woosq-btn:before,
.shop-action .woosw-btn:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
}
.product-caption-bottom .woosw-btn:before,
.single-product div.product .summary.entry-summary .woosw-btn:before,
.shop-action .woosw-btn:before {
  content: "";
}
.product-caption-bottom .woosw-btn.woosw-added:before,
.single-product div.product .summary.entry-summary .woosw-btn.woosw-added:before,
.shop-action .woosw-btn.woosw-added:before {
  content: "";
  color: red;
  margin-right: 0;
}
.product-caption-bottom .woosw-btn.woosw-adding::after,
.single-product div.product .summary.entry-summary .woosw-btn.woosw-adding::after,
.shop-action .woosw-btn.woosw-adding::after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  line-height: inherit;
  content: "" !important;
  animation: fa-spin 0.75s linear infinite;
  height: 14px;
  width: 14px;
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  display: block;
  transform: translate(0);
  background-color: transparent;
}
.product-caption-bottom .woosw-btn.woosw-adding:before,
.single-product div.product .summary.entry-summary .woosw-btn.woosw-adding:before,
.shop-action .woosw-btn.woosw-adding:before {
  opacity: 0;
}
.product-caption-bottom .woosc-btn:before,
.single-product div.product .summary.entry-summary .woosc-btn:before,
.shop-action .woosc-btn:before {
  content: "";
}
.product-caption-bottom .woosq-btn:before,
.single-product div.product .summary.entry-summary .woosq-btn:before,
.shop-action .woosq-btn:before {
  content: "";
}

.single-product .pswp__button {
  background-color: transparent;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  text-indent: -999px;
  overflow: hidden;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: block;
  text-indent: 0;
  font-size: 30px;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
  display: none !important;
}
.single-product div.product .entry-summary .yith-wcwl-add-to-wishlist > div > a:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}
.single-product div.product .entry-summary .compare:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

a.remove {
  display: block;
  width: 1.618em;
  height: 1.618em;
  line-height: 1.618;
  font-weight: 400;
  text-indent: -9999px;
  position: relative;
}
a.remove::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #999999;
  line-height: 1.618;
  text-indent: 0;
  text-align: center;
}

.woocommerce-shipping-calculator > p:first-child a::before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 0.3342343017em;
}

.woocommerce-widget-layered-nav li a:not(.button):hover:before,
.widget_product_categories li a:not(.button):hover:before,
.widget_layered_nav li a:not(.button):hover:before,
.widget_rating_filter li a:not(.button):hover:before,
.widget_product_brands li a:not(.button):hover:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: flex;
}
.woocommerce-widget-layered-nav li.current-cat a:not(.button):before, .woocommerce-widget-layered-nav li.chosen a:not(.button):before,
.widget_product_categories li.current-cat a:not(.button):before,
.widget_product_categories li.chosen a:not(.button):before,
.widget_layered_nav li.current-cat a:not(.button):before,
.widget_layered_nav li.chosen a:not(.button):before,
.widget_rating_filter li.current-cat a:not(.button):before,
.widget_rating_filter li.chosen a:not(.button):before,
.widget_product_brands li.current-cat a:not(.button):before,
.widget_product_brands li.chosen a:not(.button):before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  display: flex;
}

.woocommerce-cart .cart-empty:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  font-size: 164px;
  color: var(--light);
  display: block;
  margin-bottom: 50px;
}

.hitboox-active-filters .widget_layered_nav_filters ul li a:after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-left: 10px;
  margin-top: -2px;
}

.star-rating::before {
  font-family: "hitboox-icon";
  content: "" "" "" "" "";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  text-transform: capitalize;
  color: #dfdfdf;
}
.star-rating span::before {
  font-family: "hitboox-icon";
  content: "" "" "" "" "";
  top: 0;
  position: absolute;
  left: 0;
  color: var(--dark);
}

p.stars a::before {
  font-family: "hitboox-icon";
  content: "";
}
p.stars a:hover ~ a::before {
  content: "";
}
p.stars:hover a::before {
  content: "";
}
p.stars.selected a.active::before {
  content: "";
}
p.stars.selected a.active ~ a::before {
  content: "";
}
p.stars.selected a:not(.active)::before {
  content: "";
}

.inventory_status:before {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: -1px;
}

.woocommerce form .show-password-input::after, .woocommerce-page form .show-password-input::after {
  font-family: "hitboox-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  content: "";
}

/*# sourceMappingURL=icons.css.map */
